<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ikhokha.techcheck">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:usesCleartextTraffic="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.DStv">
            <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/NoActionBarTheme">

                <nav-graph android:value="@navigation/app_nav" />
            </activity>
        </application>

</manifest>